.khiva {
    padding: 40px;
    background: rgb(241, 241, 241);

    @media (max-width : 756px) {
        padding : 20px
    }

    i {
        font-size: 80px;
    }

    a, a:visited {
        color: black;
    }

    .row {
        margin: auto;
    }
}