#page-solutions {

    .navbar {
        background: transparent;

        &.nav-shadow {
            background: white;

            ul li a span, ul li a {
                color: var(--color-shapelets);
            }
        }

        ul li a span, ul li a {
            color: white;
        }

        a.dropdown-item {
            color: var(--color-shapelets);
        }
    }

    .main-content {
        top : 0;
    }

    .header {
        position: relative;
        height: 400px;
        background: url('/assets/images/solutions/header.jpg') no-repeat;
        background-position: center top;
        background-size: cover;
        width: 100%;
        text-align: center;
        color: white;

        div {
            max-width: 800px;
            width: 100%;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        h1 {
            margin-bottom: 30px;
            font-weight: bold;

            @media (max-width : 758px) {
                font-size: 26px;
            }
        }

        p {
            font-size: 25px;
        }
    }

    .solutions {

        .section.section-1, .section.section-3 {
            div.title {
                margin-left: -40px;
                background: white;
            }
        }

        .section.section-2, .section.section-4 {
            div.title {
                margin-right: -40px;
                background: rgb(240, 240, 240);
                text-align: right;
            } 
        }

        .section.section-1, .section.section-2, .section.section-3, .section.section-4 {
            max-width: 1200px;
            margin: auto;
            padding-top: 40px;
            padding-bottom: 40px;
            color: var(--color-shapelets);

            .vertical-line-left {
                border-left: 1px solid var(--color-shapelets);
                margin-left: 40px;
            }

            .vertical-line-right {
                border-right: 1px solid var(--color-shapelets);
                margin-right: 40px;
            }

            p.content {
                margin-left: 42px;
            }

            p {
                font-size: 24px;
            }

            ul.like-items {
                font-size: 24px;
                margin-left: 0;
                padding: 0;

                &.dashed {
                    list-style-type: none;
    
                    & > li {
                        text-indent: -5px;
    
                        &::before{
                            content: "-";
                            text-indent: -5px;
                        }
                    }
                }

                li {
                    border-bottom: 1px solid var(--color-shapelets);
                    margin-bottom: 20px;
                }
            }
        }

        .section.section-5 {
            padding: 80px 0 80px 0;
            background: linear-gradient(to right, #21145F 0%,#21145F 70%, #1D9ADD 100%);

            h1 {
                margin-bottom: 30px;
                font-weight: bold;
                color:white;
            }
        }
    }
}