.profiles {
    margin: 0 12.5%; }

.team {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly; }

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.text-gray-title {
    font-size: 0.85em;
    margin-top: 0.35em;
}

.bio-card {
    position: relative;
}

.profiles__portrait {
    border-radius: 4px;
    width: 14em;
    height: 14em;
    margin-bottom: 1em;
}

.team-bio, .team-bio-board {
    position: absolute;
    pointer-events: none;
    width: 20em;
    left: 80%;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    border: 1px solid rgba(164, 189, 210, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
    padding: 1.25em 1.4em 0.8em;
    background-color: #fff;
    font-size: 0.75em;
    transition: opacity 0.5s ease, height 0.3s ease, z-index 1s ease; }

.team-bio-board {
    bottom: -50%; }

.team-bio h4, .team-bio-board h4 {
    display: none; }

.mobile.bio-card .team-bio, .mobile.bio-card .team-bio-board {
    position: fixed;
    z-index: 150;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
    box-shadow: none;
    background: radial-gradient(circle farthest-corner at 100% 0, #400b60, rgba(88, 37, 103, 0.75) 150%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }

.mobile.bio-card .team-bio h4, .mobile.bio-card .team-bio-board h4 {
    display: block;
    margin-bottom: 1em; }

.bio-card .exit-button {
    display: none; }

.bio-card.active.mobile .team-bio-board {
    font-size: 1.35em !important; }

.bio-card.active.mobile .team-bio, .bio-card.active.mobile .team-bio-board {
    margin-top: 80px;
    height: 100vh;
    z-index: 200;
    opacity: 1;
    color: #fff;
    padding: 0 2.5em;
    font-size: 1em; }

.mobile.bio-card.active .exit-button {
    margin-top: 55px;
    display: block;
    position: fixed;
    right: 5px;
    top: -15px;
    z-index: 201;
    font-size: 4em;
    color: #F9EFD0;
    cursor: pointer;
}