    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Our Team</h2>
              <br/>
                <p>We are a research and software development company with HQ in Malaga, Spain, operating across sectors offering data analytic solutions.</p>
                <p>Shapelets was founded in 2018 by a small team of PhDs and software engineers who were previously working in a very ambitious project called Valo.</p>
                <p>Our mission is to create the best in class open-source platform for time-series analysis at scale.</p>
                <br/>
              </div>
        </div>
    </section>
