    <!-- About Section -->
    <section id="project" class="container content-section text-justify">
        <div class="row">
            <div class="col-md-7 col-sm-12">
              <br/>
              <h2>Our Team</h2>
                <p class="lead">We are a research and software development company with HQ in Málaga, Spain, operating across sectors offering data analytic solutions.</p>
                <p class="lead">Shapelets was founded in 2018 by a small team of PhDs and software engineers who were previously working in a very ambitious project called <a href="https://www.youtube.com/watch?v=Tr-Dk5HiGGc">Valo</a>.</p>
                <p class="lead">Our mission is to create the best in class open-source platform for time-series analysis at scale.</p>
                <p class="lead">The first piece of open-source code we have created is <a href="https://github.com/shapelets/khiva">Khiva</a>, a library of efficient algorithms to analyse time series in GPU and CPU.</p>
                <br/>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="block">
                  <img src="img/malaga.jpg" alt="Img">
                </div>
              </div>
        </div>
    </section>
