<section id="features">
    <h1 class="title">Shapelets: Time Series Analytics on the Edge</h1>
        <div class="row features">
        <div class="col-md-3 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img width="80px" src="/assets/images/isotype.svg" class="ml-auto mr-auto mt-4" alt="Key Accelerated Analytics">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Key Accelerated Analytics</h5>
                    <p class="card-text">
                        Shapelets provides you with analytical features such as causality, discords and motif discovery,
                        forecasting, clustering, etc. In a combined and horizontally scalable offering where all algorithms are
                        optimised for CPU-GPU.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img width="80px" src="/assets/images/openplatform.svg" class="ml-auto mr-auto mt-4" alt="Key Accelerated Analytics">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Open platform</h5>
                    <p class="card-text">
                        The Shapelets core integrates seamlessly with any data collection and storage solution. It also integrates with
                        MS Office and any other visualisation tools to simplify and share insights without any technical acumen.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img width="80px" src="/assets/images/byoa.svg" class="ml-auto mr-auto mt-4" alt="Key Accelerated Analytics">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Bring your own Algorithms</h5>
                    <p class="card-text">
                        Run, extend and integrate your own algorithms into the Shapelets platform to make the best of Time-Series analysis.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mt-2 mb-2">
            <div class="card h-100">
                <img width="80px" src="/assets/images/ui.svg" class="ml-auto mr-auto mt-4" alt="Key Accelerated Analytics">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">Interactive dashboard</h5>
                    <p class="card-text">
                        Our UI works server-side to bring you interactive visualisations. You can make the best of your metadata and
                        represent it in many different visual graphs provided by our modern interface.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>