<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#home"><img style="width: 180px; height: 50px;" src={{ site.image }} alt={{ site.title }}/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#solutions">Solutions</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <div style="line-height: 50px;float: right;">
                    <a class="btn btn-primary btn-md" href="#contact">Request a demo</a>
                </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated fadeInUp">{{ page.title }}</h1>
                        <h3 class="animated fadeInUp">{{ page.subTitle }}</h3>
                        <div style="line-height: 50px;">
                            <a class="btn btn-primary btn-md" href="#contact">Request a demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        {% include chart.html %}
    </div>
    <!-- /.intro-header -->
</section>


