<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="#home"><img style="width: 180px; height: 50px;" src={{ site.image }} alt={{ site.title }}/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#solutions">Solutions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#team">Team</a>
            </li>
            </ul>
            <div style="line-height: 50px;float: right;">
                <a class="btn btn-primary btn-md" href="#contact">Request a demo</a>
            </div>
        </div>
    </div>
</nav>
<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated fadeInUp">{{ page.title }}</h1>
                        <h3 class="animated fadeInUp">{{ page.subTitle }}</h3>
                        <div style="line-height: 50px;">
                            <a class="btn btn-primary btn-md" href="#contact">Request a demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        {% include chart.html %}
    </div>
    <!-- /.intro-header -->
</section>


