<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- Facebook share -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.shapelets.io/">
    <meta property="og:site_name" content="Shapelets">
    <meta property="og:title" content="Shapelets: Machine Learning On Big Series">
    <meta property="og:description" content="Shapelets is the first state-of-the-art suite of tools for time-series analysis. Store, analyze and visualize time series in an unimaginable way. The definitive suite of tools for data scientist and decision-makers.">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://www.shapelets.io/assets/images/ShapeletsLogo.jpg">

    <!-- Twitter share -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@shapelets">
    <meta name="twitter:creator" content="@shapelets">
    <meta name="twitter:title" content="Shapelets">
    <meta name="twitter:description" content="Shapelets is the first state-of-the-art suite of tools for time-series analysis. Store, analyze and visualize time series in an unimaginable way. The definitive suite of tools for data scientist and decision-makers.">
    <meta name="twitter:url" content="https://www.shapelets.io/">
    <meta name="twitter:domain" content="https://www.shapelets.io/">
    <meta name="twitter:image" content="https://www.shapelets.io/assets/images/ShapeletsLogo.jpg" alt="Shapelets">

    <title>Shapelets: {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon image_src" href="/assets/images/ShapeletsLogo.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <!-- Custom CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124462518-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'UA-124462518-1');
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">.fancybox-margin{margin-right:0px;}</style>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
</head>
