<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: white;">
    <div class="container">
        <a href="#home"><img height="80px" src={{ site.image }} alt={{ site.title }}/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
            <li class="nav-item" style="margin: auto 20px;">
                <a class="page-scroll c-purple font-weight-bold" href="#features">FEATURES</a>
            </li>
            <li class="nav-item" style="margin: auto 20px;">
                <a class="page-scroll c-purple font-weight-bold" href="#solutions">SOLUTIONS</a>
            </li>
            <li class="nav-item" style="margin: auto 20px;">
                <a class="page-scroll c-purple font-weight-bold" href="#team">TEAM</a>
            </li>
            <li class="nav-item" style="margin: auto 20px;">
                <a class="page-scroll c-purple font-weight-bold" href="#footer">CONTACT</a>
            </li>
            </ul>
            <div style="line-height: 50px;float: right;margin: auto 20px;">
                <a class="btn btn-md request-a-demo rad" style="color: white;cursor: pointer;">REQUEST A DEMO</a>
            </div>
        </div>
    </div>
</nav>
<section id="home">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="animated fadeInUp">{{ page.title }}</h1>
                        <h3 class="animated fadeInUp">{{ page.subTitle }}</h3>
                        <div style="line-height: 50px;margin-top: 3em;">
                            <a class="btn btn-md request-a-demo rad" style="color: white;cursor: pointer;">REQUEST A DEMO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        {% include chart.html %}
    </div>
    <!-- /.intro-header -->
</section>


