<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<script>
        /* Set google maps option draggable false on mobile*/
        if ($(document).width() <= 767) {
            var bMapoption = false;
        } else {
            var bMapoption = true;
        }
        // Initialize and add the map
        function initMap(bMapoption) {
            // The location of Malaga
            var malaga = {lat: 36.718308, lng:  -4.422883};
            // The map, centered at Malaga
            var map = new google.maps.Map(
                document.getElementById('map_canvas'), {zoom: 15, center: malaga, zoom:15,  draggable: bMapoption, disableDefaultUI: true});
            // The marker, positioned at Malaga
            var marker = new google.maps.Marker({position: malaga, map: map, title: 'Shapelets', icon: '/img/maps_icon.png'});

            var contentString = '<p class="google-maps-window">Shapelets<br />C/Puerta del mar, 18 (2nd Floor)<br />29005 Málaga</p><a href="https://www.google.es/maps/place/Calle+Puerta+del+Mar,+18,+29005+M%C3%A1laga/@36.7182913,-4.4234758,19z/data=!4m5!3m4!1s0xd72f7942f117cf5:0x3c0a3fb21e2c03fc!8m2!3d36.7183021!4d-4.4229233" target="_blank">Directions</a>'
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrVv2fVb9KNWQMKIRcpV4y6e9R34CCiwU&callback=initMap">
</script>

<script>
    $(document).on('submit', '#news', function(e) {
		e.preventDefault();	
			$('.col-md-4 form .input-group .input-group-btn #submit i').removeClass('fa fa-check');
			$('.col-md-4 form .input-group .input-group-btn #submit i').addClass('fa fa-spinner fa-spin');
			$.ajax({
				url : 'https://shapelets.us19.list-manage.com/subscribe/post-json?&c=?',
				type : 'get',
                cache : false,
                dataType : 'json',
                contentType: "application/json; charset=utf-8",
				data : $(this).serialize(),
				success : function(data) {
					$('.col-md-4 form .input-group .input-group-btn #submit i').addClass('fa fa-check');
					$('.col-md-4 form .input-group .input-group-btn #submit i').removeClass('fa-spinner fa-spin');
					$('.col-md-4 .success_msg').html("<p class='alert alert-success'><strong>Your Request was successfully sent.</strong> Thank you!</p>");
			},
			error : function(xhr, err) {
				$('.col-md-4 form .input-group .input-group-btn #submit i').addClass('fa fa-check');
				$('.col-md-4 form .input-group .input-group-btn #submit i').removeClass('fa fa-spinner fa-spin');
				$('.col-md-4 .success_msg').html("<p class='alert alert-danger'>Oops!! An error occurred.</p>");
			}
		});
		return false;
	});

    $(document).on('keyup', '#input', function(e) {
		// console.log(e.keyCode);
		var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
        if(!pattern.test($(this).val()))
        {
        	$('#submit').removeClass('success').addClass('error');
        }
        else{
        	$('#submit').removeClass('error').addClass('success');
        }
	});
</script>

<script>
    if (matchMedia) {
        const mq = window.matchMedia("(max-width: 600px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }

    function WidthChange(mq) {
        let bios = document.getElementsByClassName("bio-card immobile");
        if (mq.matches) {
            $(".bio-card").addClass("mobile").removeClass("immobile");
        } else {
            $(".bio-card").removeClass("mobile").addClass("immobile");
        }
    }
    $(".team-member").on("click", ".bio-card", function(event) {
        $(".bio-card").removeClass("active");
        $(event.currentTarget).addClass("active");
    });
    $(".bio-card").children(".exit-button").on("click", function(event) {
        event.stopPropagation();
        $(event.currentTarget).parent().removeClass("active");
    });
</script>

<script>
    $('#contactForm').submit(event => {
        event.preventDefault();

        let form = {
            firstName : $('input[name="firstName"]').val(),
            lastName : $('input[name="lastName"]').val(),
            companyName : $('input[name="companyName"]').val(),
            companyEmail : $('input[name="companyEmail"]').val(),
            jobRole : $('input[name="jobRole"]').val(),
            phone : $('input[name="phone"]').val()
        };

        $.post('http://localhost:3001/api/contact', form, (data) => {
            console.log('data',data);
        });
    });
</script>