<div class="khiva">
    <div class="row container">
        <div class="col-md-6 text-center">
            <img src="/assets/images/product/open-platform/khiva.png" alt="khiva" width="80%">
        </div>
        <div class="col-md-6">
            <h2>
                Try Khiva, an opensource library for accelerated analytics
                and don't forget to give us a star!
            </h2>
            <br>
            <div class="text-center">
                <a href="https://github.com/shapelets" target="_blank">
                    <i class="fa fa-github"></i
                ></a>
            </div>
        </div>
    </div>
</div>