<div class="khiva">
    <div class="row container">
        <div class="col-md-6 text-center">
            <a href="https://github.com/shapelets" target="_blank">
                <img src="/assets/images/product/open-platform/khiva.png" alt="khiva" width="80%">
            </a>
        </div>
        <div class="col-md-6 text-center c-purple">
            <h2>Try Khiva!</h2>
            <h4>An opensource library for accelerated analytics</h4>
            <br>
            <div class="text-center c-purple">
                <a href="https://github.com/shapelets" target="_blank">
                    <i class="fa fa-github"></i>
                    <div style="font-size: 24px;">KHIVA PROJECT</div>
                    <br>
                    <p>And don’t forget to give us a star!</p>
                </a>
            </div>
        </div>
    </div>
</div>