<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a href="/"><img class="navbar-logo" src="/assets/images/ShapeletsLogo.png" alt={{ site.title }}/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
            <li class="nav-item dropdown" style="margin: auto 20px;">
            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>PRODUCT</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border: none;">
                <a class="dropdown-item" href="/open-platform">Overview</a>
                <a class="dropdown-item" href="/analytics">Analytics</a>
                <a class="dropdown-item" href="/flow">Flow</a>
                <a class="dropdown-item" href="/cristal-ui">Cristal UI</a>
            </div>
            </li>
            <li class="nav-item toogle-on-click" style="margin: auto 20px;">
                <a class="page-scroll font-weight-bold" href="/solutions">SOLUTIONS</a>
            </li>
            <li class="nav-item toogle-on-click" style="margin: auto 20px;">
                <a class="page-scroll font-weight-bold" href="/company">COMPANY</a>
            </li>
            <li class="nav-item toogle-on-click" style="margin: auto 20px;">
                <a class="page-scroll font-weight-bold" href="/contact">CONTACT</a>
            </li>
            </ul>
            <div style="line-height: 50px;float: right;margin: auto 20px;">
                <a class="btn btn-md request-a-demo rad toogle-on-click" style="color: white;cursor: pointer;padding: 4px 20px;">REQUEST A DEMO</a>
            </div>
        </div>
    </div>
</nav>
{% include contact.html %}