<section id="news">
    <div  id="myCarousel"  class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner showcase-text">
            <div class="item active" style="text-align:center">
                <p>
                <h2 style="margin-top:30px">New release!</h2>
                <a href="https://github.com/shapelets/khiva">Khiva's</a> library version 0.1.0 released, an open-source library of efficient algorithms to analyse time series in GPU and CPU.
                <p >
                    Khiva's library is available for the next programming languages:
                <p >
                    <a href="https://github.com/shapelets/khiva">C++</a>,
                    <a href="https://github.com/shapelets/khiva-python"> Python</a>,
                    <a href="https://github.com/shapelets/khiva-java"> Java</a>,
                    <a href="https://github.com/shapelets/khiva-r"> R</a>,
                    <a href="https://github.com/shapelets/khiva-matlab"> Matlab </a>, and
                    <a href="https://github.com/shapelets/khiva-kotlin">Kotlin</a>.
                </p>
                </p>
                </p>
            </div>

            <div class="item" style="text-align:center">
                <h2 style="margin-top:30px">Let's rock!</h2>
                <p>
                    Have a look to our <a href="https://khiva.readthedocs.io/en/latest/"> interactive applications </a> and enjoy playing with Khiva.
                </p>
                <p>
                    Furthermore, we provide <a href="https://hub.docker.com/u/shapelets/"> Docker containers </a> to let you enjoy Khiva wihout any configruation.
                </p>
            </div>

            <div class="item" style="text-align:center">
                <h2 style="margin-top:30px">PyConES2018!</h2>
                <p>
                    Are you going to <a href="https://2018.es.pycon.org/"> PyConES2018 </a> in Málaga?
                <p>
                    Come to our talk the 6th of October of 2018 Track 1 to learn how Al-Juarismi exploited the GPU power analise time series by our PhD Antonio Vilches.
                </p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>