<section id="news">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner showcarousel showcarousel-text" style="max-height:800px !important">
            
            <div onclick="window.open('https://youtu.be/LiKFXwvofE8','_blank');" class="item cursor-pointer active" style="text-align:center">
                <h2 style="margin-top:30px">Time Series Forecasting</h2>
                <p style="margin-bottom: 50px; margin-left:50px; margin-right: 50px">
                    Check out our <a target="_blank" href="https://youtu.be/LiKFXwvofE8">latest video</a> about how to forecast energy demand with Shapelets.
                    <br>
                    Predict your future in less than 50 milliseconds without any prior training!
                </p>
            </div>
            <div onclick="window.open('https://github.com/shapelets/khiva','_blank');" class="item cursor-pointer" style="text-align:center; max-height:800px !important">
                <h2 style="margin-top:30px">New release!</h2>
                <p style="margin-left:50px; margin-right: 50px"><a target="_blank" href="https://github.com/shapelets/khiva">Khiva's
                    library version 0.3.0</a></p>
                <p style="margin-bottom: 50px; margin-left:50px; margin-right: 50px">Open-source library of efficient
                    algorithms to analyse time series in GPU and CPU.</p>
                </p>
                </p>
            </div>
            <div onclick="window.open('https://github.com/shapelets','_blank');" class="item cursor-pointer" style="text-align:center">
                <h2 style="margin-top:30px">Bindings!</h2>
                <p style="margin-left:50px; margin-right: 50px">
                    Khiva's library is available for the next programming languages:
                <p style="margin-bottom: 50px; margin-left:50px; margin-right: 50px">
                    <a target="_blank" href="https://github.com/shapelets/khiva">C++</a>,
                    <a target="_blank" href="https://github.com/shapelets/khiva-python"> Python</a>,
                    <a target="_blank" href="https://github.com/shapelets/khiva-java"> Java</a>,
                    <a target="_blank" href="https://github.com/shapelets/khiva-r"> R</a>,
                    <a target="_blank" href="https://github.com/shapelets/khiva-matlab"> Matlab </a>, and
                    <a target="_blank" href="https://github.com/shapelets/khiva-kotlin">Kotlin</a>.
                </p>
            </div>
            <div onclick="window.open('https://mybinder.org/v2/gh/shapelets/khiva-use-cases/master?filepath=interactive-applications','_blank');" class="item cursor-pointer" style="text-align:center">
                <h2 style="margin-top:30px">Let's rock!</h2>
                <p style="margin-left:50px; margin-right: 50px">
                    Have a look to our <a target="_blank" href="https://mybinder.org/v2/gh/shapelets/khiva-use-cases/master?filepath=interactive-applications"> interactive applications </a>
                    and enjoy playing with Khiva.
                </p>
                <p style="margin-bottom: 50px; margin-left:50px; margin-right: 50px">
                    Furthermore, we provide <a target="_blank" href="https://hub.docker.com/u/shapelets/"> Docker containers </a> to let
                    you enjoy Khiva without any configuration.
                </p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a target="_blank" class="left carousel-control" href="#myCarousel" data-slide="prev" style="background:#f9f9f9 !important">
            <span class="glyphicon glyphicon-chevron-left" style="color:#310e41"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a target="_blank" class="right carousel-control" href="#myCarousel" data-slide="next" style="background:#f9f9f9 !important">
            <span class="glyphicon glyphicon-chevron-right" style="color:#310e41"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>