
<section  id="project" class="showcase">
    <div class="container-fluid p-0">
        <div class="row ">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/timeseriesViolet.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>An open-source platform for<br>time-series analysis</h2>
                <p class="lead mb-0">Shapelets is an open framework that empowers users to leverage analytical capabilities in big data environments. Seamless integration with HDFS, Lustre and Ceph, reading data directly from columnar formats, like Parquet and ORC, and the usual tabular text files such as CSV.
                </p>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Machine learning to do<br>machine learning</h2>
                <p class="lead mb-0">Shapelets is trained to recognise distinct types of data series and, automatically, select the best algorithms for the task at hand. Our platform offers users intelligent recipes for analytical workloads like clustering, classification, forecasting, and semantical segmentation, based on the data series shape and features.
                </p>
            </div>
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/brainLateral.jpg');"></div>
        </div>
        <div class="row ">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/nuclearReaction.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Efficient computation:<br>GPU - CPU & Multicore</h2>
                <p class="lead mb-0">Shapelets algorithms are the result of a thorough research process whereby each algorithm is selected based on applicability concerns and computational efficiency. Our code base runs on GPUs (using CUDA or OpenCL) and on multicores as well.
                </p>
            </div>
        </div>
    </div>
</section>