<section id="solutions">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title">Solutions to your data sequences</h1>
            <p>
                Shapelets harnesses the latest time-series algorithms to gain valuable
                insights for a wide range of use cases:
            </p>
            <p>
                <span>Energy:</span> power demand forecasting, fraud detection, pricing optimisation, smart meter analytics, etc.
                <br>
                <span>Industrial IoT:</span> industrial systems optimisation, predictive maintenance, monitoring, etc.
                <br>
                <span>Aerospace:</span> passenger flow forecasting and test failure prediction.
                <br>
                <span>Automotive:</span> fleet management optimisation, monitor drive behaviour, predictive maintenance, etc.
                <br>
                <span>e-Health:</span> patient monitoring and disease prediction.
                <br>
                <span>Sports:</span> injury prediction, performance optimisation and monitoring.
            </p>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/macbook.png" width="100%" alt="Shapelets ui" style="position: relative;top:50%;transform: translate(0,-50%);">
        </div>
    </div>
    <div class="text-center">
        <h2 class="title mt-4 mb-4">Cannot find your data series use case?</h2>
        <button type="button" class="btn btn-outline-dark" style="border-radius: 15em;" data-toggle="modal" data-target="#modalContact" style="cursor: pointer;">SCHEDULE A DEMO</button>
    </div>
</section>