<!-- Team -->
<section id="team" class="text-center">
    <h1 class="title font-weight-bold">Meet Our team</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/justo_ruiz_normal_400x400.png" onmousedown="this.src='img/justo_ruiz_grumpy_400x400.png'" onmouseup="this.src='img/justo_ruiz_normal_400x400.png'" alt="Justo Ruiz">
                    <div class="team-bio">
                        <h4>Justo Ruiz</h4>
                        <p class="white team-bio-text">
                            Justo has spent 15 years making sense of time-series data. A long experience in the IT &
                            financial sector, holding a CTO position in a software company, senior front office and
                            risk positions in Hedge Funds and Investment Banks as a Computer Scientist in areas like FX,
                            Rates and Credit. He took also part in the High Performance Advisory Board from Microsoft.
                            Do not disturb him while he is coding, he might be grumpy or just concentrated.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Justo Ruiz</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Founder/CTO</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/luis_sanchez_normal_400x400.png" onmousedown="this.src='img/luis_sanchez_grumpy_400x400.png'" onmouseup="this.src='img/luis_sanchez_normal_400x400.png'" alt="Luis Sanchez">
                    <div class="team-bio">
                        <h4>Luis Sanchez</h4>
                        <p class="white team-bio-text">
                            Luis has more than 12 years experience working for multinationals, public administrations
                            and start-ups. He’s got an insatiable need to try and create disruptive new projects.
                            He is one of the main organisers of J On The Beach conference and Digital Marketing Malaga
                            Meetup. Luis holds BSc and MA Degree in Law, Business Administration and International marketing.
                            He keeps things working in the office while feeding the Grumpy Cat.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Luis Sanchez</h4>
                <h5 class="center-type team-position text-regular text-gray-title">COO/CMO</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/joaquin_de_lapatza_normal_400x400.png" onmousedown="this.src='img/joaquin_de_lapatza_grumpy_400x400.png'" onmouseup="this.src='img/joaquin_de_lapatza_normal_400x400.png'" alt="Joaquin de Lapatza">
                    <div class="team-bio">
                        <h4>Joaquin de Lapatza</h4>
                        <p class="white team-bio-text">
                            Joaquín aka "The hunter" has an extensive career in senior positions in financial and technology industries across Europe.
                            His experience in banks such as RBS or Santander, focused on optimising data utilisation and obtaining business value.​
                            He is currently based in Madrid and travels regularly to our home office in sunny Malaga.​ Be well prepared when shaking
                            hands or he will crack your knuckles.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Joaquin de Lapatza</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Business development Partner</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/antonio_vilches_normal_400x400.png" onmousedown="this.src='img/antonio_vilches_grumpy_400x400.png'" onmouseup="this.src='img/antonio_vilches_normal_400x400.png'" alt="Antonio Vilches, Ph.D.">
                    <div class="team-bio">
                        <h4>Antonio Vilches, Ph.D.</h4>
                        <p class="white team-bio-text">
                            Antonio is one of the core software engineers at Shapelets, holding BSc and MSc in
                            Computer Sciences from the University of Malaga. He is a software performance gangster, thus
                            he went further and pursued a Ph.D. in Parallel Computing, where he developed parallel patterns
                            for CPU-GPU systems. Antonio is the lead team developer of the company, always keen to share
                            his knowledge and help others with their stuff.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Antonio Vilches, Ph.D.</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>
        </div>
        <!-- second row -->
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/oscar_torreno_normal_400x400.png" onmousedown="this.src='img/oscar_torreno_grumpy_400x400.png'" onmouseup="this.src='img/oscar_torreno_normal_400x400.png'" alt="Oscar Torreño, Ph.D.">
                    <div class="team-bio">
                        <h4>Oscar Torreño, Ph.D.</h4>
                        <p class="white team-bio-text">
                            Oscar is the white walker of the company, coming from the far North Malaga's province, Ronda.
                            One of his most deadly abilities is turn into code everything he touches. He holds
                            a BSc and MSc in Computer Engineering within the University of Malaga.
                            Later, he pursued a Ph.D. in Cloud Computing, where he researched and developed workflows
                            for Cloud Computing environments.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Oscar Torreño, Ph.D.</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/david_cuesta_normal_400x400.png" onmousedown="this.src='img/david_cuesta_grumpy_400x400.png'" onmouseup="this.src='img/david_cuesta_normal_400x400.png'" alt="David Cuesta">
                    <div class="team-bio">
                        <h4>David Cuesta</h4>
                        <p class="white team-bio-text">
                            David aka “El Bicho” (The Whizz) is the speedy Gonzales of the code. He holds a Bachelors in
                            Bioinformatics and a Masters in Big Data technologies, both within the University of Malaga.
                            Moreover, he is currently studying a Masters in Computer Sciences to become part of the Ph.D.
                            team of Shapelets. He enjoys fishing, eating shrimps and watching football with his
                            friends at La Rosaleda Stadium.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">David Cuesta</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                  <img class="img-responsive profiles__portrait" src="img/jesus_recuerda_normal_400x400.png" onmousedown="this.src='img/jesus_recuerda_grumpy_400x400.png'" onmouseup="this.src='img/jesus_recuerda_normal_400x400.png'" alt="Jesús Recuerda">
                    <div class="team-bio">
                        <h4>Jesús Recuerda</h4>
                        <p class="white team-bio-text">
                            The son of Conan and a Gipsy palm reader, Jesús’ ability to read the future of code goes beyond the
                            limits of logic and absurdity. He holds a Bachelors degree in Telecommunication Engineer within the
                            University of Granada where he spent hard nights eating <i>sesos</i> and <i>criadillas</i>. He enjoys hunting
                            birds, pipirranas and olive oil from Porcuna.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Jesús Recuerda</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="team-member col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                  <img class="img-responsive profiles__portrait" src="img/jose_sanchez_normal_400x400.png" onmousedown="this.src='img/jose_sanchez_grumpy_400x400.png'" onmouseup="this.src='img/jose_sanchez_normal_400x400.png'" alt="Jose Sánchez">
                    <div class="team-bio">
                        <h4>Jose Sánchez</h4>
                        <p class="white team-bio-text">
                            Jose is a football freestyler and a chicken eater from the nowhere lands of Churriana.
                            He holds a Bachelors degree in Software Engineer within the University of Malaga. He enjoys being
                            a regular man, with regular tastes and regular skills.
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Jose Sánchez</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="hiring text-center">
        <h1 class="title c-purple">WE ARE HIRING</h1>
        <h4>We are always looking for talented people, so don't be shy!</h4>
        <br>
        <br>
        <button type="button" class="btn bg-purple" style="color:white; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;">JOIN THE TEAM</button>
    </div>
</section>
