<!-- Team -->
<section id="team" class="testimonials text-center">
    <div class="testimonials-title">
        <h2 >Our team</h2>
    </div>
    <div class="profiles">
        <div class="team">
            <div class="team-member">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="Justo Ruiz">
                    <div class="team-bio">
                        <h4>Justo Ruiz</h4>
                        <p class="white team-bio-text">

                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Justo Ruiz</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Founder/CTO</h5>
            </div>

            <div class="team-member col2 ">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="Luis Sanchez">
                    <div class="team-bio">
                        <h4>Luis Sanchez</h4>
                        <p class="white team-bio-text">

                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Luis Sanchez</h4>
                <h5 class="center-type team-position text-regular text-gray-title">COO</h5>
            </div>

            <div class="team-member  col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="Antonio Vilches, PhD">
                    <div class="team-bio">
                        <h4>Antonio Vilches, PhD</h4>
                        <p class="white team-bio-text">

                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Antonio Vilches, PhD</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>

            <div class="team-member col2 ">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="Rob Kiefer, PhD">
                    <div class="team-bio">
                        <h4>Oscar Torreno, PhD</h4>
                        <p class="white team-bio-text">

                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Oscar Torreno, PhD</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>

            <div class="team-member  ">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="David Cuesta">
                    <div class="team-bio">
                        <h4>David Cuesta</h4>
                        <p class="white team-bio-text">

                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">David Cuesta</h4>
                <h5 class="center-type team-position text-regular text-gray-title">Software Engineer</h5>
            </div>

            <div class="team-member col2 col3">
                <div class="bio-card immobile">
                    <span class="exit-button">&times;</span>
                    <img class="img-responsive profiles__portrait" src="img/juarismi.jpg" alt="Next Member">
                    <div class="team-bio">
                        <h4>Next Member</h4>
                        <p class="white team-bio-text">
                            We are looking for highly motivated people that want to shape upcoming time series platforms ...
                        </p>
                    </div>
                </div>
                <h4 class="text-blue-link text-extra-bold team-title center-type">Next Member</h4>
                <h5 class="center-type team-position text-regular text-gray-title">It could be you ...</h5>
            </div>
        </div>
    </div>
    <div class="testimonials-wannajoin">
        <h2 >Want to be the next member of our team?</h2>
        <h4>We are always looking for talented people, so don't be shy and ...</h4>
        <div class="btn-type-2-wide">
            <a>Send your CV to info@shapelets.io</a>
        </div>
    </div>
</section>