<section id="who">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Who is this for?</h1>
        </div>
    </div>
    <div class="row scroll-animations">
        <div class="col-md-4 text-center animated">
            <img class="mb-4" src="/assets/images/dataScientist.svg" height="180px" alt="">
            <h5 class="font-weight-bold">Data Scientist / Dev</h5>
            <p class="text-center who-text">
                Speed up and make the best of your data science team avoiding the complexity of data processing.
            </p>
            <br>
        </div>
        <div class="col-md-4 text-center animated">
            <img class="mb-4" src="/assets/images/analyst.svg" height="180px" alt="">
            <h5 class="font-weight-bold">Analyst</h5>
            <p class="text-center who-text" style="max-width: 360px;margin: auto;">
                Speed up your analytics with our accelerated platform and share insights within your company or third parties.
            </p>
            <br>
        </div>
        <div class="col-md-4 text-center animated">
            <img class="mb-4" src="/assets/images/businessPeople.svg" height="180px" alt="">
            <h5 class="font-weight-bold">Business people</h5>
            <p class="text-center who-text" style="max-width: 360px;margin: auto;">
                Support business decisions incorporating machine learning with data logic to fully become a data-driven organisation.
            </p>
            <br>
        </div>
    </div>
</section>