#page-company .header {
  position: relative;
  height: 500px;
  background: url('/assets/images/header.png') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
}
#page-company .header div {
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page-company .header h1 {
  margin-bottom: 30px;
  font-weight: bold;
}
#page-company .header p {
  font-size: 25px;
}
#page-company .company .section,
#page-company .company-board .section {
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--color-shapelets);
}
#page-company .company .section p,
#page-company .company-board .section p {
  font-size: 24px;
  margin: 20px auto;
}
#page-company .company .section.section-1,
#page-company .company-board .section.section-1 {
  text-align: center;
}
#page-company .company .section.section-1 p,
#page-company .company-board .section.section-1 p {
  max-width: 1100px;
}
