#page-contact .contact .section,
#page-contact .company-board .section {
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--color-shapelets);
}
#page-contact .contact .section p,
#page-contact .company-board .section p {
  font-size: 24px;
  margin: 20px auto;
}
#page-contact .contact .section.section-1,
#page-contact .company-board .section.section-1 {
  text-align: center;
}
#page-contact .contact .section.section-1 p,
#page-contact .company-board .section.section-1 p {
  max-width: 1100px;
}
#page-contact .contact .section .box-form,
#page-contact .company-board .section .box-form {
  border: 1px solid var(--color-shapelets);
  padding: 20px;
  text-align: left;
}
#page-contact .contact .section .box-form input,
#page-contact .company-board .section .box-form input {
  border: 1px solid var(--color-shapelets);
  width: 100%;
  padding: 8px;
  color: var(--color-shapelets);
  margin-bottom: 16px;
}
#page-contact .contact .section .box-form input::placeholder,
#page-contact .company-board .section .box-form input::placeholder {
  color: var(--color-shapelets);
}
#page-contact .contact .section .box-form textarea,
#page-contact .company-board .section .box-form textarea {
  border: 1px solid var(--color-shapelets);
  width: 100%;
  padding: 8px;
  color: var(--color-shapelets);
  margin-bottom: 16px;
}
#page-contact .contact .section .box-form textarea::placeholder,
#page-contact .company-board .section .box-form textarea::placeholder {
  color: var(--color-shapelets);
}
#page-contact .contact .section .box-form button,
#page-contact .company-board .section .box-form button {
  background: #1d9add;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 24px 8px 24px;
}
