.cta {
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--color-shapelets);
  text-align: center;
}
.cta .request-a-demo {
  border-radius: 1em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: var(--color-shapelets);
  font-weight: 600;
  cursor: pointer;
}
