#page-home .navbar {
  background: transparent;
}
#page-home .navbar.nav-shadow {
  background: white;
}
#page-home .navbar.nav-shadow ul li a span,
#page-home .navbar.nav-shadow ul li a {
  color: var(--color-shapelets);
}
#page-home .navbar ul li a span,
#page-home .navbar ul li a {
  color: white;
}
#page-home .navbar a.dropdown-item {
  color: var(--color-shapelets);
}
#page-home .main-content {
  top: 0;
}
#page-home #home {
  background: linear-gradient(to right, #26388f 0%, #26388f 2%, #20145f 12%, #20145f 100%);
}
#page-home .intro-header {
  color: white;
  padding-top: 0;
  padding-bottom: 50px;
}
#page-home .intro-header .intro-message {
  color: white;
}
#page-home .card-link {
  color: #1d9add;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20px);
  width: 100%;
}
#page-home .card-text {
  margin-bottom: 60px;
}
#page-home a.btn-purple {
  color: var(--color-shapelets);
  border-color: var(--color-shapelets);
}
#page-home a.btn-purple:hover {
  color: white;
  background: var(--color-shapelets);
}
#page-home #GPU {
  margin: 60px auto;
  max-width: 1200px;
}
#page-home #GPU img.gpucpu {
  width: 100%;
}
