.khiva {
  padding: 40px;
  background: #f1f1f1;
}
@media (max-width: 756px) {
  .khiva {
    padding: 20px;
  }
}
.khiva i {
  font-size: 80px;
}
.khiva a,
.khiva a:visited {
  color: black;
}
.khiva .row {
  margin: auto;
}
.khiva img {
  width: 60%;
  height: auto;
  margin: auto;
}
