#page-open-platform .header {
  position: relative;
  height: 500px;
  background: url('/assets/images/header.png') no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
}
#page-open-platform .header div {
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page-open-platform .header h1 {
  margin-bottom: 30px;
  font-weight: bold;
}
#page-open-platform .header p {
  font-size: 25px;
  padding: 20px;
}
@media (max-width: 756px) {
  #page-open-platform .header p {
    font-size: 18px;
  }
}
#page-open-platform .open-platform section {
  padding: 40px;
  text-align: left;
  color: var(--color-shapelets);
}
@media (max-width: 756px) {
  #page-open-platform .open-platform section {
    padding: 20px;
  }
}
#page-open-platform .open-platform h2 {
  color: var(--color-shapelets);
}
#page-open-platform .open-platform p {
  margin: 20px auto;
  font-size: 24px;
}
#page-open-platform .open-platform ul {
  margin: 0;
  padding: 0;
}
#page-open-platform .open-platform ul.dashed {
  list-style-type: none;
}
#page-open-platform .open-platform ul.dashed > li {
  text-indent: -5px;
}
#page-open-platform .open-platform ul.dashed > li::before {
  content: "-";
  text-indent: -5px;
}
